:root{
    --background-color: #F0F0F0;
    --header-color: #E0E0E0;
    --purple: #5324B9;
    --sidebar: #F5F5F5;
    --sidebar-font-color: rgba(0,0,0,0.75);
    --sidebar-button-active: rgba(189,163,245,0.81);
    --placeholder: rgba(0,0,0,0.60);
    --red: #D41212;
    --gold: #FCCA19
}

*{
    box-sizing: border-box;
}

p{
    margin: 0px;
}

@font-face {
    font-family: 'Patua';
    src: url('PatuaOne-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}


body{
    width: 100%;
    min-height: 150vh;
    margin: 0px;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 290px 1fr;
    background-color: var(--background-color);
    position: relative;
}

.navbar{
    grid-row: 1/2;
    grid-column: 1 / 3;
    background-color: var(--header-color);
    display: grid;
    grid-template-columns: 242px 1fr 242px;
    grid-template-rows: 1fr;
}



.menuBar{
    grid-column: 1/2;
    justify-self: center;
    align-self: center;
    width: 32px;
    height: 28px;
    background-image: url('menuBar_icons.svg');
    background-size: cover;
    visibility: hidden;
    cursor: default;
}

.title{
    margin: 0px;
    justify-self: center;
    align-self: center;
    font-family: 'Patua';
    font-weight: normal;
    font-size: 48px;
    letter-spacing: calc(4 * 0.01em);
}

.title span{
    color: #5324B9;
}

.sidebar{
    grid-area: 2 / 1 /2 / 2;
    background-color: var(--sidebar);
    display: flex;
    padding: 45px 17px;
    flex-direction: column;
}

.sidebar > .overviewHeader,
.sidebar > .projectHeader{
    padding-left: 12px;
    height: 41px;
    font-family: 'Roboto';
    font-size: 32px;
    border-bottom: 1px solid #262626;
}

.overviewList{
    height: fit-content;
    margin: 28px 0px;
    display: grid;
    grid-template-rows: repeat(4,40px);
    gap: 6px 0px;
}

.overviewList > div{
    padding-left: 65px;
    font-size: 20px;
    font-family: 'Roboto';
    background-color: var(--sidebar);
    display: flex;
    color: var(--sidebar-font-color);
    align-items: center;
    position: relative;;
    cursor: pointer;
}

.overviewList > div:hover,
.projectList > div:hover{
    background-color: var(--header-color);
}


.overviewList > div:first-of-type > span:first-of-type{
    background-image: url('inbox_sidebar.svg');
    width: 27px;
    height: 27px;
    position: absolute;
    left: 27px;
}

.overviewList > div:nth-of-type(2) > span:first-of-type{
    background-image: url('today_logo.svg');
    width: 27px;
    height: 27px;
    position: absolute;
    left: 27px;
}

.overviewList > div:nth-of-type(3) > span:first-of-type{
    background-image: url('week_icon.svg');
    width: 26px;
    height: 26px;
    position: absolute;
    left: 27px;
}

.overviewList > div:nth-of-type(4) > span:first-of-type{
    background-image: url('milestone_icon.svg');
    width: 22px;
    height: 26px;
    position: absolute;
    left: 29px;
}

.projectHeader{
    position: relative;
    margin-bottom: 28px;
}

.projectHeader > span{
    position: absolute;
    bottom: 5px;
    background-image: url('add_project.svg');
    background-size: cover;
    right: 4px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.projectList{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 20px;
    color: var(--sidebar-font-color);
    gap: 6px;
}

.projectList > div{
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    padding-left: 27px;
    position: relative;
}

.projectList > div > span:first-of-type{
    position: absolute;
    background-image: url('edit_icon.svg');
    width: 24px;
    height: 21px;
    right: 33px;
    bottom: 12px;
}

.projectList > div > span:nth-of-type(2){
    position: absolute;
    background-image: url('deleteprj_icon.svg');
    width: 20px;
    height: 20px;
    right: 8px;
    bottom: 12px;
}

.projectList > div.active,
.overviewList > div.active{
    background-color: var(--sidebar-button-active);
    color: black;
}

.projectList > div.active > span:nth-of-type(3),
.overviewList > div.active > span:nth-of-type(2){
    position: absolute;
    left: 0px;
    height: 100%;
    width: 4px;
    background-color: var(--purple);
}

.projectList > div.active > span:nth-of-type(1){
    background-image: url('purpedit_icon.svg');
}

.projectList > div.active > span:nth-of-type(2){
    background-image: url('reddeleteprj_icon.svg');
}



.addButton{
    background-image: url(bigadd_icon.svg);
    background-position: cover;
    position: fixed;
    width: 68px;
    height: 68px;
    bottom: 53px;
    right: 105px;
    cursor: pointer;
}

.modal{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    height: 100%;
    width: 100%;
    display: block;
    visibility: hidden;
    z-index: -1;
    position: fixed;
    background-color: rgba(0,0,0,0.25);
}

.modal.active,
.modal.activeProject{
    visibility: visible;
    z-index: 1;
}

.modal .modalAddCard,
.modal .modalAddProjectCard{
    visibility: hidden;
    transform: scale(0.5);
    transition: transform 400ms cubic-bezier(0.18,0.89,0.43,1.19);
}

.modal.active .modalAddCard,
.modal.modal.activeProject .modalAddProjectCard{
    visibility: visible;
    transform: scale(1);
}



.modalAddContainer,.modalAddProjectContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.15);
}

.modal.active .modalAddContainer{
    z-index: 1;
}

.modalAddProjectContainer{
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}

.modal.modal.activeProject .modalAddProjectContainer{
    visibility: visible;
    z-index: 1;
}

.modalAddCard{
    width: 400px;
    height: 650px;
    background-color: var(--sidebar); 
    display: grid;
    grid-template-rows: 70px 496px 84px;
    border-radius: 8px 8px 0px 0px;
}

.modalAddProjectCard{
    width: 400px;
    height: 282px;
    background-color: var(--sidebar);
    display: grid;
    grid-template-rows: 70px 128px 84px;
    border-radius: 8px 8px 0px 0px;
}



.modalHeader,
.modalProjectHeader{
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: var(--purple);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-family: "Patua";
    align-items: center;
    color: #FFFFFF;
}

.modalBody,
.modalProjectBody{
    padding: 0px 35px;
}

form{
    grid-row: 2/3;;
}

.titleAddContainer,
.descriptionAddContainer{
    margin-top: 58px;
    position: relative;
}

.titleAddProjectContainer{
    margin-top: 49px;
    position: relative;
}

.dateAddContainer,
.projectAddContainer{
    margin-top: 57px;
    position: relative;
}



.milestoneAddContainer{
    margin-top: 27px;
    position: relative;
}


.modalBody > div > input:not([type=checkbox]),
.modalBody > div > select,
.milestoneAddContainer > label,
.titleAddProjectContainer > input{
    width: 330px;
    height: 33px;
    background-color: var(--background-color);
    border: 0px;
    border-bottom: black 1px solid;
    border-radius: 2px;
}

.milestoneAddContainer > label{
    background-color: var(--sidebar-font-color);
    border: 0px;
    display: block;
}



.titleAddContainer > label > span,
.titleAddProjectContainer > label span{
    color: var(--red);
}

.titleAddContainer > input:focus ~ label > span,
.titleAddContainer > input:not(:placeholder-shown) ~ label > span,
.titleAddProjectContainer > input:focus ~ label > span,
.titleAddProjectContainer > input:not(:placeholder-shown) ~ label > span{
    display: none;
}

.titleAdd ~ span,
.dateAdd ~ span,
.projectTitleAdd ~ span{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-family: 'Robota';
    color: red;
    font-size: 14px;
    transition: bottom 0.1s ease;
}

.titleAdd.invalid ~ span,
.dateAdd.invalid ~ span,
.projectTitleAdd.invalid ~ span{
    visibility: visible;
    bottom: -20px;
}


.descriptionAddContainer > textarea{
    width: 330px;
    height: 78px;
    background-color: var(--background-color);
    border: 0px;
    border-bottom: black 1px solid;
    border-radius: 2px;
}


.titleAddContainer input:focus-visible,
.descriptionAddContainer > textarea:focus-visible,
.dateAddContainer > input:focus-visible,
.projectAddContainer > select:focus-visible,
.titleAddProjectContainer > input:focus-visible{
    outline: solid 2px black;
    border-radius: 2px;
    border-bottom: 0px;
}

.projectAddContainer > select{
    font-size: 20px;
    font-family: 'Patua';
    color: var(--sidebar-font-color);
    padding-left: 7px;
}

.titleAddContainer label,
.descriptionAddContainer label,
.dateAddContainer label,
.projectAddContainer label,
.milestoneAddContainer label > span,
.titleAddProjectContainer label{
    position: absolute;
    left: 12px;
    top: 5px;
    color: var(--placeholder);
    font-family: 'Patua';
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, left 0.3s ease, top 0.3s ease, border-radius 0.3s ease
}

.milestoneAddContainer label > span{
    color: var(--background-color);
    user-select: none;
}

.milestoneAddContainer input{
    position: absolute;
    right: 10px; 
    top: 5px;
    width: 22px;
    height: 22px;
    margin: 0px;
}

.milestoneAddContainer input:checked{
    accent-color: var(--gold);
}

.milestoneAddContainer input:checked ~ label{
    background-color: var(--purple);
}

.dateAddContainer label,
.projectAddContainer label{
    visibility: hidden;
}

.titleAddContainer input:focus ~ label,
.titleAddContainer input:not(:placeholder-shown) ~ label,
.descriptionAddContainer textarea:focus ~ label,
.descriptionAddContainer textarea:not(:placeholder-shown) ~ label,
.dateAddContainer input:focus ~ label,
.projectAddContainer select:focus ~ label,
.titleAddProjectContainer input:focus ~ label,
.titleAddProjectContainer input:not(:placeholder-shown) ~ label{
    visibility: visible;
    left: 0px;
    top: -31px;
    color: #FFFFFF;
    border-radius: 2px;
    padding: 2px 7px;
    background-color: var(--sidebar-font-color);
}

.projectTitleAdd,
.titleAdd,
.descAdd,
.dateAdd{
    font-size: 20px;
}


.modalButtonContainer,
.modalProjectButtonContainer{
    grid-row: 3/4;
    background-color: rgba(0,0,0,0.05);
    border-top: black solid 1px;
    display: flex;
    justify-content: flex-end;
    padding: 22px 25px;
    gap: 6px;
}

.cancelButton,
.submitButton,
.submitProjectButton,
.cancelProjectButton{
    font-family: 'Roboto';
    font-size: 20px;
    color: black;
    padding: 6.2px 11px;
    cursor: pointer;
    border: 0px;
    border: 1px solid black;
    border-radius: 2px;
}

.submitButton,
.submitProjectButton{
    background-color: var(--purple);
    border: 1px solid black;
    color: var(--background-color);
}

.submitButton:hover,
.submitProjectButton:hover{
    background-color: #480bca;
}

.cancelButton:hover,
.cancelProjectButton:hover{
    background-color: #e3e3e3;
}